## These files are binary and should be left untouched
*.pdf binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.bmp binary
*.tiff binary
*.ico binary
*.svg binary
*.webp binary

# Auto detect text files and perform LF normalization
* text=auto eol=lf
